<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>你想知道啊</title>
    <style>
        h1{
            font-size: 25px;
            text-align: center;
        }
        h2{
            font-size: 15px;
            color: darkgrey;
            text-align: center;
        }
        p{
            font-family: "楷体";
            text-indent: 2em;
        }
        div{
            width: 400px;
            height: 550px;
            border-style:outset;
            text-align: center;
            position: relative;
            left: 37%;
        }

    </style>
</head>
<body>
<h1>感谢能点开这个链接</h1>
<h2>其实说实话我写的挺没啥意思的，我自己都觉得自己写的很无聊and矫情</h2>
<div>
    <p>就是你优点很多啊，情商也不低啊，然后脾气也还可以啊，挺上进的啊，等等等等。特别好的,特别喜欢听你讲历史，然后讲很多很多的东西。</p>
    <p>我也有喜欢的恋爱方式，我喜欢的是能有人和我一起进步一起努力奋斗，能够在困难的时候相互扶持，就是董老师和胡老师的那种。</p>
    <p>以后可能会面临很多困难，所以特别希望有人能和我一起走下去能迎接未来道路上的各种挑战，特别渴望脱单有这一方面的原因。</p>
    <p>还有成长环境的影响，这个不方便说，简单表达就是精神上的支撑。</p>
    <p>就酱紫。。想追的原因就是这些。</p>
    <img src="moutain.jpg" width="300px">
</div>
</body>
</html>