<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>想说的都在这里面了</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <style>
        h2{
            text-align: center;
        }
        #a{
            text-align: center;
            font-size:15px;
            color: aquamarine;
        }
        p{
            text-align: center;
        }
        #imp{
            color: red;
            font-size: 50px;
        }
    </style>
</head>
<body>
<h2>想不想知道我为啥会喜欢上你</h2>
<p id="a"><a href="frist.html">想知道</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick=alert("好好好，听你的")>I don't care</a></p>
<p>然后你昨天也跟我说清楚了啥的</p>
<p>我也不会再打扰你了</p>
<p>但是真的不会怨恨你的</p>
<p>没想到我给你的压力好像很大的</p>
<p>然后原来你也有了在意的人</p>
<p>所以希望你脱单成功</p>
<p id="imp">祝你幸福</p>
<audio src="music.m4a" autoplay="autoplay"></audio>
</body>

</html>