<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>這是我自己的範例。</h1>
    
    <p id="ta">by pecu<br></p> 
    <div id="container">
        <div id="content">
            {% for name in names %}
            <div class="msg">
                <span class="name">{{ name }}</span>
                {{ fulltext }}
            </div>
            {% endfor %}
        </div>
        <div id="send-box">
            <form>
                <label for="user">賬號：</label><input type="text" id="user"> <br>
                <label for="password">密碼：</label><input type="password" id="password"><br>
                <input type="submit" value="提交">
                <input type="reset" value="重置">
            </form>
            <span id='ps'>Ps:格子是假的，無法輸入ＸＤ</span>
        </div>
    </div>
</body>

</html>