<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>week3作業</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>這是我自己的範例</h2>
    <img src="https://picsum.photos/200/200?image=80">
    <script>
    function MouseOver(obj) {
    obj.style.width="500px";
}
    function MouseOut(obj) {
        obj.style.width="auto"
    }
        for(var i=0;i<20;i++)
        {
            var url="https://picsum.photos/200/200?image=";
            var j=Math.ceil(Math.random()*500);
            var image;
            image="<img src="+url+String(j)+" onmouseover=MouseOver(this) onmouseout=MouseOut(this)>"
            document.write(image);
            if(i%5)
                document.write("<br>")
        }
    </script>
</body>

</html>